.main{
  text-align: center;
  min-width: 380px;
  border: #858585 2px solid;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}
.synonym-word{
  padding-bottom: 20px;
}
.btn-info{
  height: 47px;
  border-radius: 20px;
  margin-left: 5px;
}
